{% csrf_token %}
<div class="row"> 
  <b><p class="mt-3">Información del Procedimiento</p></b>
  <div class="form-group" style="width: 100%;">
    <label>Fecha del Procedimiento</label>
    <div class="input-group date" data-target-input="nearest">
        {{ form1.day_procedure}}
    </div>
  </div>
  <div style="display: none;">
    {{form1.day_uploaded}}
  </div>
</div>
<hr>
<div class="row"> 
  <div class="col-12 col-md-6">    
    <b><p> Variables de Interés: </p> </b> 
    <div class="row">
      <div class="pl-3 col-12">
        <div class="pl-1 pb-1"> {{form1.procedure}} Fracción de eycción:</div>
        <div class="pl-1 pb-1"> {{form1.procedure_other}} Glicemia:</div>
        <div class="pl-1 pb-1"> {{form1.exam_diagnosis}} Peso (Kg):</div>
        <div class="pl-1 pb-1"> {{form1.exam_diagnosis_explain}} Talla (cm):</div>
        <div class="pl-1 pb-1"> {{form1.biopsy}} Indice de masa corporal (IMC):</div>
        <div class="pl-1 pb-1"> {{form1.biopsy_diagnosis}} Colesterol HDL:</div>
        <div class="pl-1 pb-1"> {{form1.biopsy_analysis}} Colesterol total:</div> 
        <div class="pl-1 pb-1"> {{form1.indication}} Colesterol LDL:</div> 
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">    
    <div class="row">
      <div class="pl-3 col-12">
        <div class="d-flex flex-column ">
          <div class="pl-1 pb-1"> {{form1.indication_desc}} Glicemia:</div>  
          <div class="pl-1 pb-1"> {{form1.antecedent}} Presion Sistolica:</div>
          <div class="pl-1 pb-1"> {{form1.antecedent_desc}} Presion Diastolico:</div>
          <div class="pl-1 pb-1"> {{form1.antecedent_helicob}} Trigliceridos</div>
          <div class="pl-1 pb-1">{{form1.antecedent_ulcera}} ¿Diabetes?</div>
          <div class="pl-1 pb-1">{{form1.antecedent_AINES}} ¿Tratamiento Aspirina? </div>          
          <div class="pl-1 pb-1">{{form1.antecedent_IBP}} ¿Tratamiento Estatina? </div>          
          <div class="pl-1 pb-1">{{form1.antecedent_antib}} ¿Posee algun tipo de discapacidad? </div>
          <div class="pl-1 pb-1">{{form1.informed_cons}} ¿Fuma? </div>
        </div> 
      </div>    
    </div>
  </div>
</div>


<input type="text" id="pk_edt" name="pk_edt" style="display: none;">
    